* p{
  color: #3b3b3b;
}
nav{
    background-color: ghostwhite;
    width: 100%;
    height: auto;
    border-bottom: 2px solid lightblue;
    z-index: 4;
}
#header-text-box{
  margin:0px;
}
.header-banner{
    width: 40%;
    min-width: 300px;
    margin-left: 10px;
}
#main-head{
  height: 86dvh;
}
#main-head-text{
  margin-top: 30dvh;
  margin-bottom: 3dvh;
}
.footer-logo-box{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  height: 100%;
  width: auto;
  padding-top: 5dvh;
  padding-bottom: 5dvh;
  padding-right: 5dvw;

}
.footer-logo{
  width: 200px;
}
.footer-information{
  color: rgb(250, 250, 250);
  width: 30%;
  margin-top: 1dvh;
}
.footer-information-header{
  margin-bottom: 15px;
}
.footer-text{
  line-height: 1.4;
}
.footer-contact-us{
  color: rgb(250, 250, 250);
  width: 30%;
  margin-top: 1dvh;
}
.footer-contact-us-header{
  margin-bottom: 15px;
}
.footer-email{
  margin-bottom: 15px;
}
.footer-phone{
  margin-bottom: 15px;
}
.footer-facebook{
  margin-bottom: 15px;
}
@media only screen and (max-width: 940px) {
  .footer-logo-box{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 100%;
    width: auto;
    padding-top: 5dvh;
    padding-bottom: 5dvh;
    padding-right: 5dvw;
  }
  .footer-logo{
    width: 200px;
    align-self: center;
    margin-bottom: 15px;
  }
  .footer-information{
    color: rgb(250, 250, 250);
    width: 100%;
    margin-top: 1dvh;
  }
  .footer-information-header{
    margin-bottom: 15px;
  }
  .footer-text{
    line-height: 1.4;
  }
  .footer-contact-us{
    color: rgb(250, 250, 250);
    width: 30%;
    margin-top: 1dvh;
  }
  .footer-contact-us-header{
    margin-bottom: 15px;
    margin-top: 25px;
  }
  .footer-email{
    margin-bottom: 15px;
  }
  .footer-phone{
    margin-bottom: 15px;
  }
  .footer-facebook{
    margin-bottom: 15px;
  }
}
@media only screen and (max-width:380px) {
  .footer-contact-us{
    color: rgb(250, 250, 250);
    width: 100%;
    margin-top: 1dvh;
    font-size:0.9rem;
  }
}
.footer-button {
  padding: 0.9em 1em;
  border: none;
  border-radius: 2px;
  letter-spacing: 0.8px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: #ef6a30;
  color: #3b3b3b;
  transition: all 1000ms;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  outline: 2px solid #ef6a30;
}

.footer-button:hover {
  transform: scale(1.05);
  outline: 2px solid #ff6e30;
  box-shadow: 4px 5px 17px -4px #4d1d08;
}

.footer-button::before {
  content: "";
  position: absolute;
  left: -50px;
  top: 0;
  width: 0;
  height: 100%;
  background-color: #ff6e30;
  transform: skewX(45deg);
  z-index: -1;
  transition: width 1000ms;
}

.footer-button:hover::before {
  width: 250%;
}
.footer-button-box{
  margin-top: 30px;
}
.main-head{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 0px;
  margin-left: 15%;
  margin-right: 15%;
  color: #3b3b3b;
}
#main-head-box{
  padding: 0px;
  margin: 0px;
  margin-bottom: 40px;
}
.main-hr{
  position: relative;
  border: 3px solid #3b3b3b;
  left:0;
}
.main-head-h4{
  margin-left: 2.5dvh;
  border-bottom: 1px solid #3b3b3b51;
}
@media only screen and (max-width: 940px) {
  .main-head{
    font-size: 0.8em;
  }
}
@media only screen and (max-width: 700px) {
  .main-head{
    font-size: 0.6em;
    font-weight: 300;
  }
  .main-head-h4{
    margin-left: 2dvw;
    border-bottom: 1px solid #3b3b3b51;
  }
}
#main-posts-header{
  text-align: center;
  position: relative;
  margin: auto;
  border-bottom:3.2px solid #575454;
  padding-bottom: 15px;
  width:45%;
  color: #575454;
  font-weight: 500;
  padding-bottom: 20px;
  margin-bottom: 30px;
}
.blockTitle{
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 40px;
  color: #3b3b3b;
}
.separator{
  width: 30%; 
  margin: auto;
  border: 2px solid rgb(54, 54, 54);
  margin-top: 20px;
  margin-bottom: 20px;
}
.blockContent{
  max-width: 100%;
  display: flex;
  justify-content:center;

  gap: 1em;
}
#aboutUsImage{
  border-radius: 2%;
  width: 40%;
}
.pagagraph{
  font-family: 'Rubik', sans-serif;
  color: #3b3b3b;
  font-size: 22px;
  text-align: left;
}
#logoContent{
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 200px;
  text-align: center;
}
#logoContent p{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size:x-large;
}
.images{
  display: flex;
  gap: 6em;
}